@font-face {
    font-family: "title-font";
    src: url(./../page1/BriemHand-VariableFont_wght.ttf);
}

.container {
    height: 70vh;
    display: flex;
}

.title {
    font-family: "title-font";
    font-size: xx-large;
    color: orangered;
    font-weight: 500;
    margin-right: 5rem;
}

.left-side {
    margin-top: 6rem;

    img {
        height: 70vh;
    }
}

.right-side {
    margin-top: 6rem;
    width: 91vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        margin-left: 7rem;
    }
}