<div class="container">
    <div class="left-side">
        <img src="./../../assets/lastimg.png" alt="">
    </div>
    <div class="right-side">
        <h1 class="title">Torfun Özellikleri</h1>
        <p>Torf, gübre ve suyun, bitkilere kademeli olarak geçmesini sağlar. Bu özelliği sayesinde bitkilerim köklerini
            korur ve zarar görmesini engeller. Torf, çürüyen bitkilerdeki minerallerin toprağa geçmesiyle oluşur. Ülkemizde ve diğer ülkelerde çıkarılan
            torfların bazıları binlerce yılda oluşmuştur. Sebze, çiçeklik ve mantar torfu dışında çok amaçlı torflar peyzaj ve seracılık gibi alanlarda da sıklıkla
            kullanılır. Türkiye sınırları içerisinde en çok torf toprağı bulunulan yerler Karadeniz ve Marmara Bölgesidir. Bunun
            nedeni Karadeniz Bölgesinin en çok yağış alan bölge olmasıdır. Marmara Bölgesi ise yeraltı suları bakımından
            zengindir. Bu da torf toprağı gibi humuslu toprakların oluşmasına doğrudan etki eder.</p>
    </div>
</div>