

<div class="container">
  <div class="up-side">
    <h2 class="title">Çiçeklerinize En İyisini Verin</h2></div>
  <div class="cards">

    <mat-card class="example-card">
      <div class="up-back">
        <mat-card-header>
          <mat-card-title>DOĞAL</mat-card-title>
        </mat-card-header>
      </div>
      <img mat-card-image src="./../../assets/cicek1.png">
    </mat-card>

    <mat-card class="example-card">
      <div class="up-back">
        <mat-card-header>
          <mat-card-title>ZENGİN</mat-card-title>
        </mat-card-header>
      </div>
      <img mat-card-image src="./../../assets/cicek2.png">
    </mat-card>

    <mat-card class="example-card">
      <div class="up-back">
        <mat-card-header>
          <mat-card-title>GELİŞTİRİCİ</mat-card-title>
        </mat-card-header>
      </div>
      <img mat-card-image src="./../../assets/cicek3.png">
    </mat-card>

    <mat-card class="example-card">
      <div class="up-back">
        <mat-card-header>
          <mat-card-title>CANLANDIRICI</mat-card-title>
        </mat-card-header>
      </div>
      <img mat-card-image src="./../../assets/cicek4.png">
    </mat-card>

  </div>
</div>