<div class="container">
    <div class="yazi-part">
        <h1>Torf Ne İşe Yarar?</h1>
        <p>Bu toprak türü düzenleyici bir özellik gösterir. Özellikle nem ve havanın düzenlenmesini sağlayarak ilgili
            bitkiye daha ideal bir yetişme ortamı sağlar. İçerisinde ayrıca bir besin maddesi içermez. Fidan yetiştirme
            ve saksılı süs bitkilerinde kullanma bakımında favori durumdadır. Lifli yapıda olması içerisinde ph
            bakımından 5,5 - 6,5 bantlarında olması kendini değerli bir toprak çeşidi yapmaktadır.</p>
    </div>
</div>