@font-face {
    font-family: "title-font";
    src: url(./../page1/BriemHand-VariableFont_wght.ttf);
}


.container {
    background-color: #129132;
    margin-top: 11rem;
    height: 90vh;
}

.title {
    display: flex;
    justify-content: center;

    h2 {
        font-family: "title-font";
        font-size: xx-large;
        margin-top: 2rem;
        color: white;
    }
}

.example-card {
    width: 13rem;

    img {
        width: 210px;
    }

    fa-icon {
        color: green;
    }
}

.cards-part1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.cards-part2 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.mat-mdc-card {
    background-color: white;
}