<div class="container">
    <div class="title">
        <h2>Torf Bitki Yetiştirme Toprağı</h2>
    </div>

    <div class="cards">
        <div class="cards-part1">
            <mat-card class="example-card">
                <img mat-card-image src="./../../assets/papatya.png">
            </mat-card>

            <mat-card class="example-card"
                style="margin-inline: 1rem;display: flex; align-items: center; justify-content: center;">
                <fa-icon [icon]="faSeedling" class="icon-nav"></fa-icon>
                <mat-card-content>Gelişimi Artıran Özellik</mat-card-content>
            </mat-card>

            <mat-card class="example-card">
                <img mat-card-image src="./../../assets/carrot.png">
            </mat-card>
        </div>

        <div class="cards-part2">
            <mat-card class="example-card"  style="display: flex; align-items: center; justify-content: center;">
                <fa-icon [icon]="faClover" class="icon-nav"></fa-icon>
                <mat-card-content>Natural Çiçek Canlandırıcı</mat-card-content>
            </mat-card>

            <mat-card class="example-card" style="margin-inline: 1rem;">
                <img mat-card-image src="./../../assets/pink-flower.png">
            </mat-card>

            <mat-card class="example-card" style="display: flex; align-items: center; justify-content: center;">
                <fa-icon [icon]="faTractor" class="icon-nav"></fa-icon>
                <mat-card-content>Doğal Toprak</mat-card-content>
            </mat-card>
        </div>

    </div>




</div>