<div class="container">
    <img class="back-img" src="./../../assets/StockSnap_KVAFPSHFYP.png" alt="">

    <nav>
        <div class="logo">
            <div class="logo-left">
                <fa-icon [icon]="faLeaf" class="icon-nav"></fa-icon>
                <p>Doğal Torf</p>
            </div>
            <div class="logo-right">
                <span>Tel:0530 837 92 27</span>
            </div>
        </div>
    </nav>

    <div class="explanation-part">
        <h2>Bitki Toprağı</h2>
        <p>Torf çiçek toprağı, tamamen organik maddelerden hazırlanan bir toprak türüdür. Bu toprakta yapay olan hiçbir
            madde yer almaz. Genellikle nemli ve ılıman bölgelerin bitkileri için tercih edilmektedir. Torf toprak zaman
            içinde göl ve bataklık gibi alanlarda, bitkilerin su altında kalıp yıllar içinde çürümesiyle oluşmaktadır.
            Sarı, kahverengi ya da siyah renklerde olan torf toprağı besin maddesi içermemektedir. Yaygın şekilde
            kullanılan torf toprağı, çok bitki ayrımı yapmaz. Bir çiçeğin ya da saksı bitkisinin sağlıklı şekilde
            büyümesine destek olması için kullanılır.</p>
        <button mat-button>BİZİ ARAYIN</button>
    </div>

</div>